/* - FONT SIZE SYSTEM (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 9.6rem;
  padding: 0 5.2rem;
  position: relative;
  /* transition: all 0.3ms; */
}

/* .sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  color: #fff !important;
} */

.logo {
  height: 3.6rem;
}

/** NAV **/
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 5.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  font-size: 2.4rem;

  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #ee171f;
}

.main-nav-link-active {
  color: gold !important;
}

.cart-nav-btn:link,
.cart-nav-btn:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;

  text-decoration: none;
  background-color: #f1454b;
  color: #fff;
  padding: 0.8rem 2.4rem;
  border-radius: 10px;
}

.cart-nav-btn:hover,
.cart-nav-btn:active {
  background-color: #ee171f;
}

.cart-nav-btn-active {
  background-color: gold !important;
}

.cart-btn-icon {
  display: block;
  font-size: 4rem;
}

.cart-btn-amount {
  display: block;
  font-size: 2rem;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
