.cart_box {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* max-height: 16rem; */
}

.cart_list {
  border: 1px solid #555;
  /* overflow: scroll;
  overflow-x: hidden; */
}

.total_price {
  text-align: right;
  margin-top: 2rem;
  font-size: 3rem;
  align-self: flex-end;
  font-weight: 600;
}
