.spinner-container {
  width: 100vw;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner-container img {
  height: 15rem;
  width: auto;

  animation: spinnerOne 1.2s linear infinite;
}

@keyframes spinnerOne {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
} ;
