.spinner {
  width: 10rem;
  height: 10rem;
  position: relative;
  margin: 10rem auto;
}

.spinner img {
  position: absolute;
  height: 100%;
  width: 100%;

  animation: spinnerOne 1.2s linear infinite;
}

@keyframes spinnerOne {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
} ;
