.noItems_div {
  margin: 0 auto;
  height: 80vh;

  display: flex;
  gap: 2rem;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #555;
}

.cart_icon {
  font-size: 15rem;

  border-radius: 50%;
  padding: 1rem;

  border: 3px solid #555;
  position: relative;
}
/* 
.cross_line {
  width: 175px;
  height: 48px;
  top: 48%;
  left: 45%;
  transform: translate(50%, -50%);
  border-bottom: 3px solid #555;
  -webkit-transform: translateY(-20px) translateX(5px) rotate(35deg);
  position: absolute;
} */

.noItems_div h1 {
  font-size: 2.4rem;
}
